/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.ycvk.acorn.api.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.ycvk.acorn.api.models.ErrorResponse
import io.ycvk.acorn.api.models.KnowledgeNote
import io.ycvk.acorn.api.models.KnowledgeNoteListResponse

import com.squareup.moshi.Json

import io.ycvk.acorn.api.infrastructure.ApiClient
import io.ycvk.acorn.api.infrastructure.ApiResponse
import io.ycvk.acorn.api.infrastructure.ClientException
import io.ycvk.acorn.api.infrastructure.ClientError
import io.ycvk.acorn.api.infrastructure.ServerException
import io.ycvk.acorn.api.infrastructure.ServerError
import io.ycvk.acorn.api.infrastructure.MultiValueMap
import io.ycvk.acorn.api.infrastructure.PartConfig
import io.ycvk.acorn.api.infrastructure.RequestConfig
import io.ycvk.acorn.api.infrastructure.RequestMethod
import io.ycvk.acorn.api.infrastructure.ResponseType
import io.ycvk.acorn.api.infrastructure.Success
import io.ycvk.acorn.api.infrastructure.toMultiValue

open class KnowledgeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:8080")
        }
    }

    /**
     * GET /v1/knowledge/note
     * Read one knowledge base note
     * 
     * @param path Note path relative to the knowledge base, e.g. inbox/tokio.md.
     * @return KnowledgeNote
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun clientGetKnowledgeNote(path: kotlin.String) : KnowledgeNote {
        val localVarResponse = clientGetKnowledgeNoteWithHttpInfo(path = path)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KnowledgeNote
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/knowledge/note
     * Read one knowledge base note
     * 
     * @param path Note path relative to the knowledge base, e.g. inbox/tokio.md.
     * @return ApiResponse<KnowledgeNote?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun clientGetKnowledgeNoteWithHttpInfo(path: kotlin.String) : ApiResponse<KnowledgeNote?> {
        val localVariableConfig = clientGetKnowledgeNoteRequestConfig(path = path)

        return request<Unit, KnowledgeNote>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation clientGetKnowledgeNote
     *
     * @param path Note path relative to the knowledge base, e.g. inbox/tokio.md.
     * @return RequestConfig
     */
    fun clientGetKnowledgeNoteRequestConfig(path: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("path", listOf(path.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/knowledge/note",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/knowledge/notes
     * Search or list knowledge base notes
     * With &#x60;q&#x60;, notes ranked by relevance; without it, notes by update time, newest first. Notes edited directly in the knowledge directory are included. 
     * @param q  (optional)
     * @param prefix Only notes whose path starts with this. Ignored with &#x60;q&#x60;. (optional)
     * @param limit  (optional, default to 50)
     * @return KnowledgeNoteListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun clientListKnowledgeNotes(q: kotlin.String? = null, prefix: kotlin.String? = null, limit: kotlin.Int? = 50) : KnowledgeNoteListResponse {
        val localVarResponse = clientListKnowledgeNotesWithHttpInfo(q = q, prefix = prefix, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KnowledgeNoteListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/knowledge/notes
     * Search or list knowledge base notes
     * With &#x60;q&#x60;, notes ranked by relevance; without it, notes by update time, newest first. Notes edited directly in the knowledge directory are included. 
     * @param q  (optional)
     * @param prefix Only notes whose path starts with this. Ignored with &#x60;q&#x60;. (optional)
     * @param limit  (optional, default to 50)
     * @return ApiResponse<KnowledgeNoteListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun clientListKnowledgeNotesWithHttpInfo(q: kotlin.String?, prefix: kotlin.String?, limit: kotlin.Int?) : ApiResponse<KnowledgeNoteListResponse?> {
        val localVariableConfig = clientListKnowledgeNotesRequestConfig(q = q, prefix = prefix, limit = limit)

        return request<Unit, KnowledgeNoteListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation clientListKnowledgeNotes
     *
     * @param q  (optional)
     * @param prefix Only notes whose path starts with this. Ignored with &#x60;q&#x60;. (optional)
     * @param limit  (optional, default to 50)
     * @return RequestConfig
     */
    fun clientListKnowledgeNotesRequestConfig(q: kotlin.String?, prefix: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
                if (prefix != null) {
                    put("prefix", listOf(prefix.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/knowledge/notes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
