/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.ycvk.acorn.api.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.ycvk.acorn.api.models.ErrorResponse
import io.ycvk.acorn.api.models.MemoryRecordListResponse
import io.ycvk.acorn.api.models.MemorySearchResponse

import com.squareup.moshi.Json

import io.ycvk.acorn.api.infrastructure.ApiClient
import io.ycvk.acorn.api.infrastructure.ApiResponse
import io.ycvk.acorn.api.infrastructure.ClientException
import io.ycvk.acorn.api.infrastructure.ClientError
import io.ycvk.acorn.api.infrastructure.ServerException
import io.ycvk.acorn.api.infrastructure.ServerError
import io.ycvk.acorn.api.infrastructure.MultiValueMap
import io.ycvk.acorn.api.infrastructure.PartConfig
import io.ycvk.acorn.api.infrastructure.RequestConfig
import io.ycvk.acorn.api.infrastructure.RequestMethod
import io.ycvk.acorn.api.infrastructure.ResponseType
import io.ycvk.acorn.api.infrastructure.Success
import io.ycvk.acorn.api.infrastructure.toMultiValue

open class MemoryApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "http://127.0.0.1:8080")
        }
    }

    /**
     * GET /v1/memory/facts
     * List file-backed memory facts
     * 
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return MemoryRecordListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun clientListMemoryFacts(limit: kotlin.Int? = null, includeInactive: kotlin.Boolean? = false, includeRetired: kotlin.Boolean? = false) : MemoryRecordListResponse {
        val localVarResponse = clientListMemoryFactsWithHttpInfo(limit = limit, includeInactive = includeInactive, includeRetired = includeRetired)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MemoryRecordListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/memory/facts
     * List file-backed memory facts
     * 
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return ApiResponse<MemoryRecordListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun clientListMemoryFactsWithHttpInfo(limit: kotlin.Int?, includeInactive: kotlin.Boolean?, includeRetired: kotlin.Boolean?) : ApiResponse<MemoryRecordListResponse?> {
        val localVariableConfig = clientListMemoryFactsRequestConfig(limit = limit, includeInactive = includeInactive, includeRetired = includeRetired)

        return request<Unit, MemoryRecordListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation clientListMemoryFacts
     *
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return RequestConfig
     */
    fun clientListMemoryFactsRequestConfig(limit: kotlin.Int?, includeInactive: kotlin.Boolean?, includeRetired: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (includeInactive != null) {
                    put("include_inactive", listOf(includeInactive.toString()))
                }
                if (includeRetired != null) {
                    put("include_retired", listOf(includeRetired.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/memory/facts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/memory/history
     * List file-backed memory history records
     * 
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return MemoryRecordListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun clientListMemoryHistory(limit: kotlin.Int? = null, includeInactive: kotlin.Boolean? = false, includeRetired: kotlin.Boolean? = false) : MemoryRecordListResponse {
        val localVarResponse = clientListMemoryHistoryWithHttpInfo(limit = limit, includeInactive = includeInactive, includeRetired = includeRetired)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MemoryRecordListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/memory/history
     * List file-backed memory history records
     * 
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return ApiResponse<MemoryRecordListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun clientListMemoryHistoryWithHttpInfo(limit: kotlin.Int?, includeInactive: kotlin.Boolean?, includeRetired: kotlin.Boolean?) : ApiResponse<MemoryRecordListResponse?> {
        val localVariableConfig = clientListMemoryHistoryRequestConfig(limit = limit, includeInactive = includeInactive, includeRetired = includeRetired)

        return request<Unit, MemoryRecordListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation clientListMemoryHistory
     *
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return RequestConfig
     */
    fun clientListMemoryHistoryRequestConfig(limit: kotlin.Int?, includeInactive: kotlin.Boolean?, includeRetired: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (includeInactive != null) {
                    put("include_inactive", listOf(includeInactive.toString()))
                }
                if (includeRetired != null) {
                    put("include_retired", listOf(includeRetired.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/memory/history",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/memory/skills
     * List file-backed memory skills
     * 
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return MemoryRecordListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun clientListMemorySkills(limit: kotlin.Int? = null, includeInactive: kotlin.Boolean? = false, includeRetired: kotlin.Boolean? = false) : MemoryRecordListResponse {
        val localVarResponse = clientListMemorySkillsWithHttpInfo(limit = limit, includeInactive = includeInactive, includeRetired = includeRetired)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MemoryRecordListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/memory/skills
     * List file-backed memory skills
     * 
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return ApiResponse<MemoryRecordListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun clientListMemorySkillsWithHttpInfo(limit: kotlin.Int?, includeInactive: kotlin.Boolean?, includeRetired: kotlin.Boolean?) : ApiResponse<MemoryRecordListResponse?> {
        val localVariableConfig = clientListMemorySkillsRequestConfig(limit = limit, includeInactive = includeInactive, includeRetired = includeRetired)

        return request<Unit, MemoryRecordListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation clientListMemorySkills
     *
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return RequestConfig
     */
    fun clientListMemorySkillsRequestConfig(limit: kotlin.Int?, includeInactive: kotlin.Boolean?, includeRetired: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (includeInactive != null) {
                    put("include_inactive", listOf(includeInactive.toString()))
                }
                if (includeRetired != null) {
                    put("include_retired", listOf(includeRetired.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/memory/skills",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter kind
     */
     enum class KindClientSearchMemory(val value: kotlin.String) {
         @Json(name = "fact") fact("fact"),
         @Json(name = "skill") skill("skill"),
         @Json(name = "history") history("history");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/memory/search
     * Search file-backed memory facts, skills, and history
     * 
     * @param query  (optional)
     * @param kind Memory kind. (optional)
     * @param scope  (optional)
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return MemorySearchResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun clientSearchMemory(query: kotlin.String? = null, kind: KindClientSearchMemory? = null, scope: kotlin.String? = null, limit: kotlin.Int? = null, includeInactive: kotlin.Boolean? = false, includeRetired: kotlin.Boolean? = false) : MemorySearchResponse {
        val localVarResponse = clientSearchMemoryWithHttpInfo(query = query, kind = kind, scope = scope, limit = limit, includeInactive = includeInactive, includeRetired = includeRetired)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MemorySearchResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/memory/search
     * Search file-backed memory facts, skills, and history
     * 
     * @param query  (optional)
     * @param kind Memory kind. (optional)
     * @param scope  (optional)
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return ApiResponse<MemorySearchResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun clientSearchMemoryWithHttpInfo(query: kotlin.String?, kind: KindClientSearchMemory?, scope: kotlin.String?, limit: kotlin.Int?, includeInactive: kotlin.Boolean?, includeRetired: kotlin.Boolean?) : ApiResponse<MemorySearchResponse?> {
        val localVariableConfig = clientSearchMemoryRequestConfig(query = query, kind = kind, scope = scope, limit = limit, includeInactive = includeInactive, includeRetired = includeRetired)

        return request<Unit, MemorySearchResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation clientSearchMemory
     *
     * @param query  (optional)
     * @param kind Memory kind. (optional)
     * @param scope  (optional)
     * @param limit Positive integer limit. Defaults to 100. (optional)
     * @param includeInactive Include date-inactive and superseded memory records. Defaults to false. (optional, default to false)
     * @param includeRetired Include retired memory records. Defaults to false. (optional, default to false)
     * @return RequestConfig
     */
    fun clientSearchMemoryRequestConfig(query: kotlin.String?, kind: KindClientSearchMemory?, scope: kotlin.String?, limit: kotlin.Int?, includeInactive: kotlin.Boolean?, includeRetired: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (kind != null) {
                    put("kind", listOf(kind.value))
                }
                if (scope != null) {
                    put("scope", listOf(scope.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (includeInactive != null) {
                    put("include_inactive", listOf(includeInactive.toString()))
                }
                if (includeRetired != null) {
                    put("include_retired", listOf(includeRetired.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/memory/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
